SERVER_PORT=3000

# ClickHouse Configuration
CLICK_HOUSE_HOSTS=localhost:19000
CLICK_HOUSE_USER=default
CLICK_HOUSE_PASSWORD=1234567
CLICK_HOUSE_DATABASE=warehouse

# Kafka Configuration
KAFKA_BROKERS=localhost:29092